# Auto detect text files and perform LF normalization
* text=auto


namespace std{

    class Test{

        static void Main(string[] args){
            Console.WriteLine("Hello World");
            Console.WriteLine("Enter your name: ");
            string name = console.ReadLine();
            Console.WriteLine("Hello " + name);
        }

    }







}

