# Auto detect text files and perform LF normalization
* text=auto


namespace std{

    class Test{

        static void Main(string[] args){
            int Menu = console.ReadLine();
            string name = console.ReadLine();

            Console.WriteLine("Hello World");
            Console.WriteLine("Enter your name: ");
            Console.WriteLine("Hello " + name);
            Console.WriteLine("This is a menu.")
            Console.WriteLine("Press 1 if you're cool.")
            Console.WriteLine("Don't press 2!");
            Console.WriteLine("Press 3 and I will guess your favorite car.")

            switch(Menu){
                case 1:
                Console.ReadLine("You are cool.");
                break;
                Case 2: 
                Console.ReadLine("Too bad you'll never be rad.")
                break;
                Case 3:


        
            }
        
        }

    }







}

